.container {
  overflow: auto;
  width: 100%;

  .board {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin: auto 30px;
    min-width: 1400px;
    overflow-x: auto;
  }
}
