@import "../../utils.style.scss";

.column {
  position: relative;

  h2 {
    background: #fff;
    position: sticky;
    top: 0px;
    z-index: 2;
    margin: 0;
    padding: 1em;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
  }

  .btn-add {
    cursor: pointer;
    font-size: 30px;
    margin-top: 15px;

    background-color: $bg-card;
    border-radius: 50%;
    box-shadow: $box-shadow;
    padding: 10px;
    border: solid 1px $gray-color;
  }

  .column-container {
    @include columTaskShape;

    .task-container {
      @include flexColum;
      min-height: 150px;
    }
  }
}
