@import "../../utils.style.scss";

.column {
  position: relative;

  .btn-add {
    cursor: pointer;
    font-size: 30px;
    margin-top: 15px;

    background-color: $bg-card;
    border-radius: 50%;
    box-shadow: $box-shadow;
    padding: 10px;
    border: solid 1px $gray-color;
  }

  .column-container {
    @include columTaskShape;

    .task-container {
      @include flexColum;
    }
  }
}
