@import "../../utils.style.scss";

.modal {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &::before {
    backdrop-filter: blur(5px);
    content: "";
    filter: brightness(0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .modal-container {
    background: #fff;
    border-radius: 20px;
    height: auto;
    margin: auto;
    padding: 1em;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    width: 300px;
    z-index: 1;

    form {
      @include flexColum;
      width: 100%;

      label {
        display: block;
        text-align: left;
        width: 100%;
      }

      input,
      button {
        border-radius: $border-radius;
        padding: 1em;
      }

      button {
        background-color: $blue-color;
        border: none;
        color: #fff;
        cursor: pointer;

        &.cancel {
          background-color: #fff;
          color: $red-color;
        }
      }
    }
  }
}
