@import "./utils.style.scss";

.App {
  background-color: var(--bg);
  min-height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  overflow-x: auto;

  h1 {
    padding-top: 20px;
    margin-top: 0;
    width: 100%;
  }

  * {
    p {
      color: var(--fontColor);
    }
  }

  .task,
  .modal-container {
    background-color: var(--bgCard);
  }

  .modal {
    color: var(--fontColor);
  }

  .btn-float-preferences {
    background-color: #fff !important;
    border: solid 1px $gray-color;
    border-radius: 50%;
    bottom: 2em;
    box-shadow: $box-shadow;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    position: fixed;
    right: 2em;
    transition: 0.25s ease-in-out transform;

    &:hover {
      transform: rotate(90deg);
    }
  }
}
