$red-color: #b03a2e;
$blue-color: #2874a6;
$green-color: #1e8449;
$gray-color: lightgray;

$bg-light: #f4f6f6;
$bg-card: #fff;
$box-shadow: 2px 2px 5px
  rgba(
    $color: #000000,
    $alpha: 0.1,
  );

$border-radius: 5px;

@mixin columTaskShape {
  background-color: $bg-card;
  border: solid 1px $gray-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 10px;
  padding: 10px;
  position: relative;
}

@mixin flexColum {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin flexRow($justifyContent: center) {
  @include flexColum;
  align-items: center;
  flex-direction: row;
  justify-content: $justifyContent;
}
